.the-home {
  box-sizing: border-box;

  .text-color {
    color: rgb(10, 65, 10);
  }

  .flight-card {
    background-image: url("../image/20211007_120242.jpg");
    background-size: cover;
    background-position: 0px 400px;
  }

  .nav {
    padding-right: 40px;
  }

  .flightBtn {
    border-color: rgb(158, 158, 158) !important ;
  }

  .flightBtn:hover {
    background-color: transparent;
  }

  .flightBtn.active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background-color: transparent;
  }

  .button-height {
    height: 50px;
  }

  .wayBtn.active {
    border-top: 3px solid rgb(10, 65, 10) !important;
    border-radius: 0;
  }

  .shadowBtn:focus {
    box-shadow: none;
    outline: none;
    border: none;
  }

  .way-color {
    color: rgb(106, 99, 173);
  }

  .btn-search {
    width: 23%;
  }

  .w-90 {
    width: 90%;
  }

  .round {
    border-radius: 10px;
  }

  .service-padding {
    padding: 10px;
    user-select: none;
  }

  .tourLabel1 {
    right: 0;
    top: 50px;
    background-color: rgb(201, 29, 86);
    color: white;
    padding: 3px 11px;
  }

  .tourLabel2 {
    right: 0;
    top: 95px;
    background-color: white;
    color: rgb(201, 29, 86);
    padding: 3px 9px;
  }

  .price {
    color: rgb(201, 29, 86);
  }

  .tour-border-color {
    border-color: rgb(10, 65, 10) !important;
  }

  .required-item {
    width: 16px;
    height: 16px;
  }

  .size0 {
    font-size: 10px;
  }

  .size2 {
    font-size: 12px;
  }

  .size3 {
    font-size: 13px;
  }

  .size5 {
    font-size: 15px;
  }

  .button-padding {
    padding: 9px 25px;
  }

  .button-background {
    background-color: rgb(233, 232, 232);
  }

  .tour {
    border: none;
    transition: none;
  }

  .tour.active {
    border-bottom: 5px solid rgb(10, 65, 10) !important;
  }

  .tour:hover {
    border-bottom: 5px solid rgb(204, 216, 204);
  }

  .owl-carousel .owl-next,
  .owl-carousel .owl-prev {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(none);
    font-size: 50px !important;
    color: rgb(25, 87, 23) !important;
    border: 4px solid #ddd;
    text-align: center;
    /*background-color: rgb(66, 172, 62) !important;*/
  }
  .owl-carousel .owl-prev {
    left: -30px;
  }
  .owl-carousel .owl-next {
    right: -30px;
  }
  @media screen and (max-width: 480px) {
    .email {
      width: 100% !important;
      margin-bottom: 8px;
    }
    .tour {
      padding: 7px;
    }
  }

  .text-carousel {
    margin-top: 20px;
  }
  .text-carousel-inner {
    height: 100px;
  }
  .text-carousel-caption {
    color: black;
    top: 30%;
  }

  @media screen and (max-width: 650px) {
    .owl-carousel .owl-prev {
      top: 90%;
      left: 40%;
    }
    .owl-carousel .owl-next {
      top: 90%;
      right: 40%;
    }

    .text-carousel {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 900px) {
    .btn-search {
      width: 30%;
    }
  }

  @media screen and (max-width: 790px) {
    .btn-search {
      width: 45%;
    }
  }
  @media screen and (max-width: 480px) {
    .btn-search {
      width: 70%;
    }
  }
}
